html {
  font-family: "Roboto", sans-serif;
}

.masthead {
  background-color: #081F43;
}


.nav a {
  color: #fff;
  text-decoration: none;
}

h1 {
  color: #fff;
  font-style: bold;
}

.art-link {
  font-weight: bold;
}

.side-bar {
  background-color: #0A295E;
}

.side-bar-text {
  list-style-type: none;
  color: #fff;
}

@media only screen and (min-width: 60em) {

  .masthead-title {
    text-align: left;
  }

  .nav {
    text-align: right;
  }

}
